<div class="topnav" id="myTopnav">
  <a href="">Stats</a>
  <a href="">Friends</a>
  <a href="">Profile</a>
  <a href="">Status</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>