img.photoProfile{
	display: block;
	border-radius: 50%;
	margin: auto;
	width: 250px;
	height: 250px;
}

.style_name{
	font-size: 30px;
    font-family: "Comic Sans MS";
    color: black;
}


.style_fontTable{
	font-family: 'Lato';
}

.biodata{
	font-style: oblique;

.size_column{
	width: 100px;
}

.size_column_2{
	width: 200px;
}


#li{
	display: 'inline';
	padding: 12px;
}

.style_font{
	width: 75px;
	text-shadow: 2px 0 0 #fff;
	border: 2px solid black;
	border-radius: 12px;	
}