.OpenSansFont {
	font-family: 'Open Sans';
	font-size: 2em;
	font-weight: 700;
}

#list-friend {
	padding-top: 10px;
}

#add-friend {
	margin-top: 45px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 10px;
    text-align: center;
}

.box {
	margin-top: 0px;
	margin: auto;
    padding: 10px;
    height: 210px;
    width: 70%;
    background-color: #dfdfdf;
    background-repeat: no-repeat;

}

.table-layout {
	margin: auto;
	width: 700px;
}

td {
	width: 33%;
	text-align: center;
}

.align-left {
	text-align: left;
	padding-left: 25px;
}

#form-name input{
	margin: auto;
    width: 80%;
    height: 20px;
    border-radius: 5px;
}

#form-url input{
	margin: auto;
    width: 80%;
    height: 20px;
    border-radius: 5px;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.box-table {
	padding: 10px;
	margin: auto;
	width: 70%;
	height: auto;
	background-color: #dfdfdf;
}

.box-view {
	margin: auto;
    width: 50%;
    padding: 10px;
	width: 400px;
	height: 30px;
    border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
}

.right-text {
	float: right;
}



/* ini css nya navbar */

.wrap{  
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto 30px auto;
  &:last-child {
    margin-bottom: 0;
  }
}

.clicker{
	background-color: #dfdfdf;
	outline: none;  
	font-weight: 600;
	position:absolute;
	cursor: pointer;
	padding: 0;
	border: none;
	height: 64px;
	width: 64px;
	left: 8px;
	top: 8px;
	border-radius: 100px;
	z-index: 2;
}

.clicker:active{
	transform: translate(0, 1px);
	height: 63px;
	box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle{
	position: relative;
	border-radius:40px;
	width: 80px;
	height: 80px;
	z-index: 1;
}

.clicker.faster:hover + .circle, .clicker.faster:active + .circle {
	  animation: rotator linear .4s infinite;
}

.clicker.fast:hover + .circle, .clicker.fast:active + .circle {
	  animation: rotator linear .5s infinite;
}

.clicker:hover + .circle, .clicker:active + .circle {
	  animation: rotator linear .8s infinite;
}

@keyframes rotator{
	  from{ transform: rotate(0deg); }
	  to{ transform: rotate(360deg); }
}

.angled.second{
  			background-image: linear-gradient( 
                #dfdfdf 0%,
                #dfdfdf 30%,
                rgb(0,0,0) 30%,
				rgb(0,0,0) 70%, 
                #dfdfdf 70%, 
                #dfdfdf 100%);
}







.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    top: 0px;
    position: fixed;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
	.topnav a {display: none;}
	.topnav a.icon {
		float: left;
		display: block;
	}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



