{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_friend</title>
</head>

<body>

    <header>
        {% include "partials/header.html" %}
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </header>

    <h2 id='add-friend' class='OpenSansFont center'>Add Friend</h2>
    <div class='box'>
        <form class='center' method="POST" action="{% url 'add-friend:add_friend' %}">
            {% csrf_token %}
            <div>Name</div>
            <div id="form-name">{{ add_friend_form.name }}</div>
            <div>URL</div>
            <div id="form-url">{{ add_friend_form.url }}</div>
            <br>
            <div class="wrap">  
                <button class="clicker fast" style="font-size: 1rem">Add</button>
                <div class="circle angled second"></div>
            </div>
        </form>
    </div>

    <h2 class='OpenSansFont center' style="padding-top: 10px;">List Friend</h2>
    <div class='box-table'>
        {% for i in friend %}
        <div class='box-view'>
                {{i.name}}
                <a class='right-text' href="{{i.url}}">{{i.url}} </a>
                <br>
                <div class="right-text" style='font-size: 0.875rem'><i>added </i>{{i.created_date}}</div>
                       
        </div>
        <br>
        {% endfor %}

    </div>


</body>
</html>

