*{
  box-sizing: border-box;
}

.wraper{
  background-color: #37abc8;
  padding: 10px;
  min-height: 700px;
}

.data{
  margin-bottom: 10px;
}

.form-panel-head{
  background-color: #37abc8;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  color: white;
}

.text-design{
  width: 100%;
  height: 80px;
  resize: none;
  vertical-align: middle;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Lato','Open Sans','Helvetica Neue','Arial','San-serif';
  background-color: #d7eef4;
}

.text-design::-webkit-scrollbar {
    width: 10px;
}

.text-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.text-design::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #c9cdd3;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.button-design, .text-design{
  border-radius: 5px;
  border: 1px solid #37abc8;
}

.button-design{
  font-size: 18px;
  background-color: #216778;
  width: 100px;
  height: 40px;
  float: right;
  color: white;
}
.button-design:hover{
  background-color: #164450;
}

.body{
  padding: 0px 120px;
  font-family: 'Lato','Open Sans','Helvetica Neue','Arial','San-serif';
}

.container{
  padding: 0px 20px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-item{
  padding: 0 15px;
  margin: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.posts{
  padding: 10px;
  background-color: white;
  white-space: pre;
  margin-bottom: 1px;
}

.post-profile{

}

.post-date{
  font-size: 14px;
  color: gray;
}

.button-wraper{
  padding: 4px 0px 4px;
  margin: 5px 0px;
}

.comment-design{
  background-color: #6bb2c4;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
.comment-design:link{
  text-decoration: none;
}
.comment-design:hover{
  background-color: #3d6872;
}

.cancel-design{
  text-align: center;
  padding-top: 8.5px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #37abc8;
  font-size: 18px;
  background-color: #216778;
  float: right;
  color: white;
}
.cancel-design:link{
  text-decoration: none;
}
.cancel-design:hover{
  background-color: #164450;
}

.centered{
  width: 80%;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .body{
    padding: 0px;
  }
  .wraper{
    min-height: 300px;
  }
}
img.photoProfile2{
	border-radius: 50%;
	width: 70px;
	height: 70px;
    vertical-align: middle;
	margin-right: 10px;
}