<!-- {% extends "update_status/layout/cobaBase.html" %} -->
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel='stylesheet' type='text/css' href={% static 'CSS/profile_page.css' %}/>
    <title>My Profile</title>
	
</head>
<!--style>
    table, th, td {
        border: 1px solid black;
    }
    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
</style-->
<body style = 'background-color: #ACFA58'>

	<div> 
		<img class='photoProfile' src="{% static '/image/coba.jpg' %}" alt= "My Image">
	</div>
	<div class= 'style_name' style="text-align: center">{{name}}</div>
	<div class= 'style_fontTable'>
	<div>
	<table class = 'biodata' align="center" style="text-align: left">
	<tr> 
		<td class = 'size_column'>Birthday</td>
		<td class = 'size_column_2'>{{ bday }}</td>
	</tr>
	<tr>	
		<td>Gender</td>
		<td>{{gender}}</td>
	</tr>
	<tr>	
		<td>Expertise</td>
		<td> {% for i in expertise %}
				<li class = 'style_font' style="text-align: left">{{i}} </li>
			{% endfor %} </td>
	</tr>
	<tr>	
		<td>Description</td>
		<td>{{desc}}</td>
	</tr>
	<tr>	
		<td>Email</td>
		<td>{{email}}</td>
	</tr>
	</table>
	</div>
</body>
</html>
	{% endblock %}

