{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'CSS/page_profile.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" /> 
</head>
<body class="body">
	<header>
        {% include "dashboard/partials/header.html" %}
	</header>
	<content>
		<div>
				{% block content %}
				{% endblock %}
		</div>
	</content>
	<footer>
        {% include "dashboard/partials/footer.html" %}
    </footer>
</body>
</html>
