
<style>
.navbar-nav{
  width: 90%;
}
ul{
  list-style-type:none;
  display:flex;
  justify-content: center;

}
ul li{
  display: list-item;
  background: transparent;
  padding: 1px 10px;
  color:white;
  margin: 0 3px;
  font-family: "Proxima Nova";
}

</style>

<nav class = "navbar navbar-center navbar-inverse navbar-static-top">
  <div class = "container-fluid">
    <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target="#navbar" aria-expanded = "false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-utama-lingin">lingin</a>
    </div>
    <div class="collapse navbar-collapse"id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'update-status:index' %}">Status</a></li>
        <li><a>Profile</a></li>
        <li><a href="{% url 'add-friend:index' %}">Friends</a></li>
        <li><a href="{% url 'dashboard:index' %}">Stats</a></li>
      </ul>
    </div>
  </div>
</nav>
