{% extends "update_status/layout/cobaBase.html" %}
{% block content %}

<h1>Statistic</h1>
<img src="https://go2olymp.com/files/587501921759e/5875ce5256eab.jpg" style="margin-top:30px;margin-left:400px; width:200px; height:200px; border-radius:50%;"></p1>
<br>
<p1 style="font-size:150%; margin-left:400px">{{author}}</p1>
<pre style="margin-left:400px; font-size:120%;">
Friends		:{{friend}}
Feed		:{{posts}}
Latest Post	:{{latest_post}}
                 {{date}}
</pre>
{% endblock %}

