{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}" />
    <title>
        Comment
    </title>
</head>
<body class="body">
  <div class="centered">
  	<div class="form-panel-head">
  		<form id="form" method="POST" action="{% url 'update-status:save-comment' pk=posted.id %}">
  			{% csrf_token %}
  			{{ post_forms }}
  			<br>
  			<button class="button-design" type="submit">Submit</button>
  			<a class="cancel-design" href="{% url 'update-status:cancel' %}">Cancel</a>
  		</form>
  	</div>
  </div>
</body>
</html>
