{% extends "update_status/layout/cobaBase.html" %}
{% load staticfiles %}
	{% block content %}
		<div class="form-panel-head">
			<h1 class="data">Update Status</h1>
			<form id="form" method="POST" action="{% url 'update-status:add-post' %}">
					{% csrf_token %}
					{{ post_form }}
					<br>
				<button class="button-design" type="submit">Post</button>
			</form>
		</div>
		<div class="container">
			<div class="flex">
			  {% for i in post %}
				<div class="flex-item">
					<div class="posts">
						<p><img class="photoProfile2" src="{% static '/image/coba.jpg' %}">{{nama}}</p>
						<div>
							<p style="white-space:pre">{{i.post}}</p>
						</div>
						<div class="post-date">{{i.created_date|date:"d M Y G:i:s"}}</div>
						<div class="button-wraper">
						<a class="comment-design" href="{% url 'update-status:add-comment' pk=i.id %}">Comment</a>
						</div>
						{% for x in comments %}
							{% if x.post.id == i.id %}
								<div class="flex-item">
									<div class="posts">
										<!--div class="post-profile">
										</div-->
										<div>
											<p style="white-space:pre">{{x.comment}}</p>
										</div>
										<div class="post-date">{{x.created_date|date:"d M Y G:i:s"}}</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			  {% endfor %}
			</div>
		</div>
	{% endblock %}
